{% extends 'base.html' %}
{% block title %}
    Main
{% endblock %}
{% block content %}

{% if notes|length == 0 %}
  Add some note about this item by clicking the + button.
{% else %}


{% for note in notes %}
   <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              {% if note.image %}
              <img src="/static/{{note.id}}_image.jpeg"  height=400 width=200>
              {% endif %}
            </div>
            <div class="card-content">
              {% if note.text %}
              <p><strong>{{note.created_at}}</strong>: {{note.text}}</p>
              {% else %}
              <p><strong>{{note.created_at}}</strong></p>
              {% endif %}
            </div>
            <div class="card-action">
              <a href="#">AUDIO VIDEO</a>
            </div>
          </div>
        </div>
      </div>
{% endfor %}

{% endif %}
 <div class="fixed-action-btn">
    <a class="btn-floating btn-large indigo waves-effect waves-light" href= "new">
      <i class="large material-icons">add</i>
    </a>
  </div>




{% endblock %}